<html>
<head>
	<title> Sign Up </title>
</head>
<body>
	Users in this Room: 
		{% for x in noDupes %}
			 {{x}} <br>
		{% endfor %}

		{% for x in users %}
			 {{x}} <br>
		{% endfor %}

	<form action="/gamePvpPlay" , method="POST">
		<div>
		  <input type="radio" name="playerOpt" value="rock"> ROCK<br>
		  <input type="radio" name="playerOpt" value="paper"> PAPER<br>
		  <input type="radio" name="playerOpt" value="scissors"> SCISSORS<br>
		  <input type="hidden" name="uName" value= {{ uName }}> 
		<input type="hidden" name="roomNo" value= {{ roomNo }}> 
		<input type = "submit" value = "submit">
		</div>
	</form>


</body>
</html>
