<html>
<head>
	<title> Sign Up </title>
</head>
<body>

     <form action = "{{url_for('signup')}}" method = "POST">
		<div>
			<label> Name </label>
			<input type= "text" name = "name" required/> 
		</div>
		
		<div>
			<label> Username </label>
			<input type= "text" name = "uName"  min= "3" max = "10" required/> 
		</div>
		
		<div>
			<label> Email </label>
			<input type= "email" name = "uEmail" required/> 
		</div>
		
		<div>
			<label> Password </label>
			<input type= "password" name = "uPass" min= "8" max = "15" required/> 
		</div>
		
		
		<div>
			<label> Re-type Password </label>
			<input type= "password" name = "uRePass" min= "8" max = "15" required/> 
		</div>
		
         <input type = "submit" value = "submit" /><br>
      </form>
</body>
</html>
